<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    Welcome to Cars page. 
    <br>
    <div id="form">
    <form action="/submit" method="POST"> 
        <label for="id">ID</label>
        <input type="text" name="id" id="id"><br>
        <label for="car-make">Make</label>
        <input type="text" name="car-make" id="car-make"><br>
        <label for="car-model">Model</label>
        <input type="text" name="car-model" id="car-model"><br>
        <label for="car-year">Year</label>
        <input type="text" name="car-year" id="car-year"><br>
        <label for="car-price">Price</label>
        <input type="text" name="car-price" id="car-price"><br>
        <label for="car-dealer-id">Dealer ID</label>
        <input type="text" name="car-dealer-id" id="car-dealer-id"><br>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>