<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Home</title>
</head>
<body>

    <h1>Welcome to AutoExplorer</h1>

    <p>Browse affordable cars from local dealers</p>

    <button>
    <a href="/cars" class="btn">View Cars</a>
    </button>

    <button>
    <a href="/api/cars" class="btn">View Car API Data</a>
    </button>
    
</body>
</html>